*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(#8fd3ff,#fff6d5);

overflow:hidden;

text-align:center;

}

h1{

padding:20px;

color:#ff6b35;

}

#score{

font-size:24px;

margin-bottom:20px;

color:#2d6a4f;

font-weight:bold;

}

#game{

width:700px;

height:600px;

margin:auto;

position:relative;

overflow:hidden;

border-radius:20px;

background:linear-gradient(#87CEEB,#E6F7FF 65%,#7ed957 65%);

border:5px solid white;

box-shadow:0 0 20px rgba(0,0,0,.2);

}

#fruit{

position:absolute;

font-size:55px;

left:300px;

top:-70px;

transition:width .3s;

}

#basket{

position:absolute;

bottom:20px;

left:250px;

height:45px;

width:110px;

background:#9C6644;

border-radius:0 0 40px 40px;

}