body{

background:#F5EBDD;

font-family:'Segoe UI',sans-serif;

}

h1{

color:#6D071A;

font-weight:bold;

}

#totalStudents{

color:#333;

font-weight:600;

}

.student-card{

border:none;

border-radius:18px;

transition:.3s;

box-shadow:0 8px 18px rgba(0,0,0,.12);

}

.student-card:hover{

transform:translateY(-8px);

}

.card-dark{

background:#6D071A;

color:white;

}

.card-light{

background:#FFF8F0;

color:#222;

}

.badge{

font-size:15px;

padding:8px 12px;

}

.serial{

font-size:20px;

font-weight:bold;

color:#C89B3C;

}

.student-name{

font-size:24px;

font-weight:600;

}

.info{

font-size:17px;

margin-bottom:8px;

}

footer{

margin-top:50px;

text-align:center;

color:#555;

}