*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:#F5F0E6;

color:#1E4D3A;

}

header{

background:#1E4D3A;

color:white;

padding:30px;

text-align:center;

}

header p{

margin-top:10px;

color:#F5D6D6;

}

.container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;

padding:40px;

}

.card{

width:210px;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.15);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:260px;

object-fit:cover;

}

.card button{

width:100%;

padding:15px;

border:none;

background:#B04A58;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.card button:hover{

background:#1E4D3A;

}

#movieSection{

width:70%;

margin:40px auto;

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

#movieSection h2{

margin-bottom:20px;

}

#movieImage{

width:320px;

height:450px;

object-fit:cover;

border-radius:15px;

margin-bottom:20px;

}

#movieName{

font-size:30px;

color:#B04A58;

}

@media(max-width:768px){

.container{

flex-direction:column;

align-items:center;

}

#movieSection{

width:90%;

}

#movieImage{

width:260px;

height:360px;

}

}